* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-color: #1ebfc1;
  --font-heading: "Sen", sans-serif;
}
/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ========header======== */
.hearder-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-header,
.btn-Sign {
  text-decoration: none;
  cursor: pointer;
}
.btn-header:hover,
.btn-Sign:hover {
  color: black;
  font-weight: 600;
}
.btn-header {
  margin-right: 39px;
  color: #2f3a3b;
  font-size: 1.6rem;
}
.btn2 .btn-Sign {
  margin-right: 48px;
}
.btn-Sign {
  color: #494949;
  font-size: 1.6rem;
}
.btn-Sign.Signup {
  padding: 12px 20px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
}
.btn-Sign.Signup:hover {
  border: 2px solid #1ebfc1;
}
.header-fixed {
  position: sticky;
  z-index: 2;
  background-color: rgb(254, 249, 242);
  padding: 25px;
  top: 1px;
  border-radius: 15px;
}
.logo-title {
  margin-left: 69px;
}
.title {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.17; /* 116.129% */
  margin-bottom: 46px;
}
.hero-left {
  margin-left: 145px;
  margin-top: 179px;
  max-width: 455px;
}
.Started {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  background: var(--primary-color);
  padding: 20px 41px;
}
.button-fixed {
  margin-left: 145px;
  line-height: 200px;
}
/* ======common======= */
a {
  text-decoration: none;
  cursor: pointer;
}
p.desc {
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
  max-width: 370px;
  margin-bottom: 18px;
}
